<%- include('./includes/head.ejs') %>
</head>

<body>
    <%- include('./includes/sidebar.ejs') %>
    
    <div class="row d-lg-flex">
      <div class="col-lg-5 offset-lg-1">
        <h4 class="text-center">Các chiến dịch vừa thêm:</h4>
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Tên</th>
              <th scope="col" class="col-3">Ngày thêm</th>
              <th scope="col" class="d-none col-4 d-md-table-cell">Ngày kết thúc</th>
            </tr>
          </thead>
          <tbody>
            <% campaign.sort((a, b) => {
              return a.startAt + b.startAt;
            }).slice(0,5).map((val, index) => { %>
              <tr>
                <th scope="row"><%= index+1 %></th>
                <td class="truncate-2 h-60px"><%= val.name %></td>
                <td><%= moment(val.startAt).format('DD/MM/yyyy') %></td>
                <td class="d-none d-md-table-cell"><%= moment(val.endAt).format('DD/MM/yyyy') %></td>
              </tr>
            <% }) %>
          </tbody>
        </table>
        
      </div>

      <div class="col-lg-5 offset-lg-1 pt-5 pt-md-0">
        <h4 class="text-center">Các chiến dịch sắp kết thúc</h4>
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Tên</th>
              <th scope="col" class="col-3 d-none d-md-table-cell">Ngày thêm</th>
              <th scope="col" class="col-4">Ngày kết thúc</th>
            </tr>
          </thead>
          <tbody>
            <% campaign.filter((val, index) => {
              return val.endAt > new Date()
            }).sort((a, b) => {
              return a.endAt + new Date();
            }).slice(0,5).map((val, index) => { %>
              <tr>
                <th scope="row"><%= index+1 %></th>
                <td class="truncate-2 h-60px"><%= val.name %></td>
                <td><%= moment(val.startAt).format('DD/MM/yyyy') %></td>
                <td class="d-none d-md-table-cell"><%= moment(val.endAt).format('DD/MM/yyyy') %></td>
              </tr>
            <% }) %>
          </tbody>
        </table>
        
      </div>

      <div class="col-lg-5 offset-lg-1 pt-5 pt-md-0">
        <h4 class="text-center">Danh sách Online</h4>
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Tên</th>
              <th scope="col" class="col-3 d-none d-md-table-cell">Ngày thêm</th>
              <th scope="col" class="col-4">Chức năng</th>
            </tr>
          </thead>
          <tbody>
            <% user.filter((val, index) => {
              return isOnline(val.username) == "online"
            }).slice(0,5).map((val, index) => { %>
              <tr>
                <th scope="row"><%= index+1 %></th>
                <td class="truncate-2 h-60px"><%= val.name %></td>
                <td><%= moment(val.startAt).format('DD/MM/yyyy') %></td>
                <td class="d-none d-md-table-cell"><%= val.status == 3 ? "Admin" : "User" %></td>
              </tr>
            <% }) %>
          </tbody>
        </table>
        
      </div>

    </div>
    <%- include('./includes/end.ejs') %>
</body>