<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/sidebar.ejs') %>

    <!--báo lỗi-->
    <% if(errorMessage != ''){ %>
    <div class="alert alert-primary" role="alert">
      <%= errorMessage ? errorMessage : '' %>
    </div>
    <% } %>
    <form action="/admin/campaign/search" method="post" class="col-12 col-lg-auto mb-3 mb-lg-3 me-lg-3" role="search">
      <input type="search" name="search" class="form-control form-control-dark text-bg-dark" placeholder="Search..." aria-label="Search">
    </form>
    <!--Hiển thị các Campaign-->
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
      <% campaign.forEach(function(val){ %>
        <div class="card">
          <a href=<%= "/admin/campaign-edit/"+val._id %> >
          <img src=<%= val.image != '' ? val.image : "/image/campaign/c1.jpg"%> class="card-img-top" alt="...">
          </a>
          <div class="card-body">
            <h5 class="card-title truncate-3"><%= val.name %></h5>
            <p class="card-text truncate-2"><%= val.desc %></p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Số tiền hiện tại: <%= val.raise %></li>
            <li class="list-group-item">Mục tiêu đề ra: <%= val.goal %></li>
            <li class="list-group-item">Tiến độ: <%= val.raise*100/val.goal %>%</li>
          </ul>
          <!--Thanh chức năng-->
          <div class="card-body">
            <div class="fa fa-solid fa-trash" data-bs-toggle="modal" data-bs-target=<%= "#modal-"+val._id %>></div>
          </div>
        </div>

        <!--Thông báo xóa-->
        <div class="modal fade" id=<%= "modal-"+val._id %> tabindex="-1" aria-labelledby="label" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="label">Thông báo</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                Bạn có muốn xóa chiến dịch:<br /> <%= val.name %>
              </div>
              <div class="modal-footer">
                <a href=<%= "/admin/campaign-delete/"+val._id %>>
                  <button type="button" class="btn btn-primary">Xóa</button></a>
              </div>
            </div>
          </div>
        </div>
<% }) %>

        <!--Pagination-->
        <div class="col-lg-12 d-flex justify-content-center">
          <ul class="pagination">
            <% if(page > 1 ) { %>
            <li class="page-item">
              <a href=<%= search ? "/admin/campaign/search?page=1" : "/admin/campaign?page=1" %>>
                <span class="page-link">Trang đầu</span>
              </a>
            </li>

            <% } else { %>
              <li class=page-item">
                 <span class="page-link text-secondary">Trang đầu</span>
              </li>
            <% } %>

              <% if(page > 1) { %>
              <li class="page-item"><a class="page-link" href=<%= search ? ("/admin/campaign/search?page="+(parseInt(page)-1)) : ("/admin/campaign?page="+(parseInt(page)-1)) %>><%= page-1 %></a></li>
              <% } %>
              <li class="page-item active" aria-current="page"><a class="page-link" href=<%= search ? ("/admin/campaign/search?page="+page) : ("/admin/campaign?page="+page) %>><%= page %></a></li>
              <% if(nextPage) { %>
              <li class="page-item"><a class="page-link" href=<%= search ? ("/admin/campaign/search?page="+(parseInt(page)+1)) : ("/admin/campaign?page="+(parseInt(page)+1)) %>><%= page+1 %></a></li>
              <% } %>

            <% if(nextPage) { %>
              <li class="page-item">
                <a href=<%= search ? ("/admin/campaign/search?page="+lastPage) : ("/admin/campaign?page="+lastPage) %>>
                  <span class="page-link">Trang cuối</span>
                </a>
              </li>
              <% } else { %>
                <li class="page-item">
                   <span class="page-link text-secondary">Trang cuối</span>
                </li>
              <% } %>
          </ul>
        </div>
      </div>
    <%- include('../includes/end.ejs') %>
</body>